# ============================
# Python
# ============================

__pycache__/
*.py[cod]
*$py.class

# ============================
# Virtual Environment
# ============================

venv/
.env/

# ============================
# Jupyter Notebook
# ============================

.ipynb_checkpoints/

# ============================
# VS Code
# ============================

.vscode/

# ============================
# Processed Data
# ============================

data/processed/

# ============================
# Trained Models
# ============================

models/

# ============================
# Temporary Files
# ============================

*.log
*.tmp
*.bak

# ============================
# Operating System Files
# ============================

.DS_Store
Thumbs.db
desktop.ini